<%- include("layout/header") %>

    <main>
        <form action="/" method="post">
            <input type="text" placeholder="programming language" name="pLangauge">
            <button type="submit">Add</button>
        </form>

        <ul>
            <% if(plName.length > 0){ %>
                <% for(let x = 0; x < plName.length; x++){ %>
                    <li><%= plName[x] %></li>
               <% } %>
            <% }else{ %>
                <p>No data found</p>
            <% } %>
        </ul>
    </main>

<%- include("layout/footer") %>